## Progamming flow

- conditional flow
  - if
  - if else
  - if elif else
  - match case
- iterative flow 
  - for loop
  - while loop

In [ ]:
if 'hello':
    print('hello everyone')

In [ ]:
x = 'hello'
if len(x) >= 5:
    print('Hello everyone')

In [ ]:
a = int(input("Enter a number"))
if a*2 >= 100:
    print('a * 2 is greater than 100')
if a+50 > 100:
    print('a + 50 is greater than 100')

In [ ]:
x = int(input("Enter a number"))
if x%2 == 0:
    print("The number is even")
else:
    print("x is odd")

WAP to find the total salary of an employee based in the following data
total salary: user input
hra = 5%
da = 3.3%
ta = 2.61%

total = salary + da + ta + hra

*rule*
if hra is less than 1000 then dont add hra to total

In [ ]:
salary = int(input("Enter the salary of the employee"))
hra = 0.05*salary
da = 0.033*salary
ta = 0.0261*salary
if hra < 1000:
    total = salary + da + ta
else:
    total = salary + hra + da + ta
print(total)

In [ ]:
name = input("What movie did you watch?")
num_str = input('Enter movie rating:')
if num_str.isnumeric():
    num = int(num_str)
    print(f'Movie: {name}')
    if num == 1:
        print('⭐️')
    elif num == 2:
        print('⭐️⭐️')
    elif num == 3:
        print('⭐️⭐️⭐️')
    elif num == 4:
        print('⭐️⭐️⭐️⭐️')
    elif num == 5:
        print('⭐️⭐️⭐️⭐️⭐️')
    else:
        print('Invalid rating')
else:
    print('Uncultured')

In [ ]:
# Match case - use this to match multiple values

day = input('Enter a day of the week:')
match day.lower():
    case 'monday'|'tuesday'|'wednesday'|'friday':
        print('Class is there')
    case 'thursday':
        print('Holiday')
    case 'sunday'|'saturday':
        print('Weekend')
    case _: #default case
        print('Invalid day')

## Single line conditions

In [ ]:
x =  int(input('Enter a number'))
print("above 100") if x>100 else print("below 100")

### for loop
- step based
- traversal
-for var in interable:
    `statement...`
### while loop
- condition based

In [ ]:
for i in 'hello':
    print(i)

In [ ]:
colors = ['red', 'green', 'blue']
for i in colors:
    print(i)

In [ ]:
#index and values
for i,v in enumerate(colors):  # enumerate gives two values
    print(i,v)

In [ ]:
numlist = [12,56,7,2,6,10,20]
for num in numlist:
    print(f'{num:<3} => {num * 10:>3}')

In [ ]:
numlist = [1,2,3,4,5,6,7,8,9,10]
for num in numlist:
    print(f'13 * {num} = {num*13}')

range(value) => start from 0 go till value -1

range(a,b) => start from a go till b-1

range(a,b,c) => start from a go to b-1 with step c

In [ ]:
for i in range(1,11):
    print(f'13 * {i} = {13*i}')

In [ ]:
for i in range(1, 101, 2):  # all odd numbers
    print(i)

In [ ]:
# reverse loop
for i in range(10, 0, -1):
    print(i)

- Nested 
- break and continue
- for-else

In [48]:
for i in range(1,11):
    for j in range(1,4):
        print(j, end='')
    print()

123
123
123
123
123
123
123
123
123
123

In [53]:
cdata = [
    [1,'John',25],
    [2,'Jane',22],
    [3,'Doe', 30, 'Batman']
]

for row in cdata:
    for i in row:
        print(i, end='  ')
    print()

1  John  25
2  Jane  22
3  Doe  30  Batman

In [58]:
more_data = [
    [[12,45,67], [23,45,67], [34,56,78]],
    [[23,45,23], [34,56,78]]
]

for i in more_data:
    for j in i:
        for k in j:
            print(k, end=' ')
        print()
    print()

12 45 67
23 45 67
34 56 78

23 45 23
34 56 78

In [61]:
x = [1,2,3,4,5,-1,6,7,8,9,10]
for i in x:
    if i < 0:
        break
    print(i)

1
2
3
4
5

In [75]:
data_with_crap = [1,2,3,'4','5',6,'7',8,9,'10',11,'12',13,14,15]
for i in data_with_crap:
    if isinstance(i,str):
        continue
    print(i, end=' ')

    ###############
print('\n')
for i in data_with_crap:
    if isinstance(i, int):
        print(i, end=' ')

1 2 3 6 8 9 11 13 14 15

1 2 3 6 8 9 11 13 14 15

In [80]:
data = [1,2,3,4,5,6,7,8,9,10]
stop_val = int(input('Enter a number to stop at: '))
count = 0
for i in data:
    if stop_val == i:
        break
    print(i)
    count += 1
print(f'count: {count}')
if count == len(data):
    print('Loop completed all steps')

1
2
3
4
5
6
7
8
9
10
count: 10
Loop completed all steps

In [82]:
# adding check for loop completion using for else

data = [1,2,3,4,5,6,7,8,9,10]
stop_val = int(input('Enter a number to stop at: '))
for i in data:
    if stop_val == i:
        break
    print(i)
else:
    print("Loop completed all the steps")

1
2
3
4
5
6
7
8
9
10
Loop completed all the steps

prime numbers using for else