- Creating
- Indexing and Slicing
- methods
- Tips and tricks

In [ ]:
a = 'apple'
b = "apple"
c = '''This is very 
useful in 
in multiline messages'''
d = str(1234)

In [11]:
x = f'{a} is a fruit'
print(x)
# raw string is a special string in while special characters behave like a normal string
addr = r'c:\users\shaurya\desktop'
#unicode string
uni = u'hello'
print(uni)
# byte string
byt = b'hello'
print(byt)

apple is a fruit
hello
b'hello'

In [ ]:
v = 'encyclopedia'
i=0
while i < len(v):
    print(v[i])
    i+=1
print(v[-1]) #last index
print(v[-2]) #second last index

## Slicing in python
x[start : stop]

In [13]:
a = 'Encyclopedia'
print(a[2:8])   # last index is not included

cyclop

In [22]:
name = 'Vijay deenanath chauhan'
n1 = name[0:5]
n2 = name[6:15]
n3 = name[16:23]
print(n1,n2,n3)

Vijay deenanath chauhan

In [23]:
name[:5] # first 5 characters

'Vijay'

In [25]:
name[6:] # from 6th index to end

'deenanath chauhan'

In [35]:
msg = "Jorney before destination"
msg[-11]

'd'

In [42]:
msg = "Once upon a time, there was a place called eternia"
msg[-7:]
msg[:16]

'Once upon a time'

In [34]:
amt = '$800999'
amt1 = amt[1:]
a = int(amt1)
print(a)
a = a+1
print(a)

800999
801000

In [40]:
msg[::2] # every ssecond character (even index)
msg[1::2] # every ssecond character (odd index)

'neuo  ie hr a  lc aldeena'

In [45]:
msg[::-1] # reverse the string

'ainrete dellac ecalp a saw ereht ,emit a nopu ecnO'

In [46]:
msg[::-1][:5]

'ainre'

In [48]:
name[6:15][::-1]

'htananeed'

## String Methods

- formatting
- validation
- find & replace
- etc.

In [57]:
quote = 'ALl ThAt glitters is not gold'
quote_upper = quote.upper()
print(quote)
print(quote_upper)
quote_lower = quote.lower()
print(quote_lower)
print(quote.capitalize())
print(quote.swapcase())
print(quote.title())
print(quote.casefold()) # same as lower case

ALl ThAt glitters is not gold
ALL THAT GLITTERS IS NOT GOLD
all that glitters is not gold
All that glitters is not gold
alL tHaT GLITTERS IS NOT GOLD
All That Glitters Is Not Gold
all that glitters is not gold

In [58]:
quote.ljust
quote.rjust
quote.center

Signature: quote.ljust(width, fillchar=' ', /)
Docstring:
Return a left-justified string of length width.

Padding is done using the specified fill character (default is a space).
Type:      builtin_function_or_method

In [76]:
a = "Batman"
b = "      Batman"
print(a.rjust(12))
print(b.rjust(0))

      Batman
      Batman

In [78]:
name.isnumeric()3

False

In [81]:
fname = input("Enter your name: (dont use numbers)")
if fname.isalpha():   # if a space is included in the string, it won't work
    print("Valid name")
else:
    print("What kind of name is this?")

What kind of name is this?

In [83]:
# find and index methods - used for searching in string
msg.find('place') # return the index of the first occurence of the substring

30

In [87]:
data = '''Roshar is a place of magic and wonder ,
place of knights and kings.
Its a place of highstorms and shardblades'''
print(data.find('place'))
print(data.find('place',13))
print(data.find('Place')) # -1 means not found
print(data.lower().find('place'))

# reverse find
print(data.rfind('place'))

# differece betweeen index and find is that index crashes if the substring is not there and find returns -1

12
40
-1
12
74

In [90]:
# Replace Method
data.replace('place','world')

'Roshar is a world of magic and wonder ,\nworld of knights and kings.\nIts a world of highstorms and shardblades'

In [91]:
data.replace('i','e').replace('k','c').replace('a','b')

'Roshbr es b plbce of mbgec bnd wonder ,\nplbce of cneghts bnd cengs.\nIts b plbce of heghstorms bnd shbrdblbdes'

In [93]:
data.replace(' ','_',3)  # will only replace first 3.

'Roshar_is_a_place of magic and wonder ,\nplace of knights and kings.\nIts a place of highstorms and shardblades'